#content{margin-top: 60px;}
header{position: absolute; top: 0; left: 5%;}
header h2{font-size: 2em; font-weight: normal !important;}
header a{text-decoration: none; font-weight: bold; color: #009df4; margin-right: 2px; font-size: 1.2em;}
header a:hover{text-decoration: none; color: #009df4; opacity: 0.8;}
#subheader{text-align: center;}
h3{line-height: 30px !important; font-size: 1.5em !important; font-weight: normal !important; display: inline-block;}
.control-group textarea{max-width: 270px; max-height: 160px; font-size: 1em;}
.control-group, .control-label{font-size: 1em;}
#ContactForm_email{max-width: 270px; font-size: 1em; min-height: 20px; height: auto;}
#ContactForm_subject{max-width: 284px; width: auto; font-size: 1em; min-height: 30px; height: auto;}
#captcha a{text-decoration: none; font-size: 1em;}
#ContactForm_verifyCode{width: 270px; font-size: 1em; min-height: 20px; height: auto;}
#send{text-align: center;}
.btn{font-size: 1em !important;}
#ContactForm{background-color: transparent; border: 0px solid #fff; -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);}
.after_form{display: none; text-align: center;}
.projects{margin-top: 50px;}
.projects p{font-size: 1.2em;}
#wrapper{display: inline-block; position: relative; width: 300px; height: 300px;}
#cat{width: 112px; height: 112px; position: absolute; left: 50%; margin-left: -56px; top:50%; margin-top: -56px; cursor: pointer;  z-index: 2;}
#cat img{width: 70px; height: 70px; margin-top: 8px;}
#cat img:hover{opacity: 0.8;}
#c_wiki,#c_fs,#c_tt,#main{display: none;}
#projects_list ul{list-style-type: none;}
#wiki,#tt,#fs{position: absolute; z-index: 1; opacity: 0}
#wiki{
	width: 55px;
	height: 55px; 
	background-image: url(/img/services.png);
	background-position: -5px 2px;
	top:50%;
	margin-top: -28px;
	left: 50%;
	margin-left: -28px;
}
#tt{
	width: 55px;
	height: 55px;
	background-image: url(/img/services.png);
	background-position: -60px -5px;
	top: 50%;
	margin-top: -28px;
	left: 50%;
	margin-left: -28px;
}
#fs{
	width: 55px;
	height: 55px; 
	background-image: url(/img/services.png);
	background-position: -120px 0;
	top: 50%;
	margin-top: -28px;
	left: 50%;
	margin-left: -28px;
}